<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/app.css">
    <script src="/js/app.js" defer></script>
</head>
<body>
    <header class="main-header">
        <nav class="navbar">
            <a href="/" class="brand">NodeApp</a>
            <ul class="nav-links">
                <li class="navlink"><a href="/posts/add">Add Post</a></li>
                <li class="navlink"><a href="#">Login</a></li>
            </ul>
        </nav>
    </header>